<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MNIST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
</head>
<body>
<div>
<div class="row">
    <div class="col-md-2">
        <img src="{{url_for('static', filename='img/mnist-example.png')}}">
    </div>
    <div class="col-md-3">
        <canvas id="canvas"></canvas>
    </div>
    <div class="col-md-2">
        <div class="row">
            <canvas id="input" style="border:1px solid" width="140" height="140"></canvas>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default" id="reset">reset</button>
        </div>
        <div class="row" id="output"></div>
    </div>
</div>
</div>

</body>
</html>